# Prerequisites
*.d
 .vscode/
 a.out
 TODO

 .tldr
# Object files
*.o

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.DS_Store
.vscode
.ds